<div fxLayout="row" fxLayoutAlign="center">
  <mat-card fxFlex.xs="98%" fxFlex.gt-xs="400px">
    <mat-card-content>
      <h1 class="app-header text-center">Login</h1>
      <form
        [formGroup]="loginForm"
        (ngSubmit)="login(loginForm)"
        fxLayout="column"
      >
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
          <mat-icon>email</mat-icon>
          <mat-form-field fxFlex>
            <input
              matInput
              placeholder="E-mail"
              aria-label="E-mail"
              formControlName="email"
            />
            <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
              E-mail is required
            </mat-error>
            <mat-error *ngIf="loginForm.get('email')?.hasError('email')">
              E-mail is not valid
            </mat-error>
          </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
          <mat-icon>vpn_key</mat-icon>
          <mat-form-field fxFlex>
            <input
              matInput
              placeholder="Password"
              aria-label="Password"
              formControlName="password"
              type="password"
            />
            <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
              Password is required
            </mat-error>
          </mat-form-field>
        </div>

        <div fxLayout="row" class="margin-top">
          <div *ngIf="loginError" class="mat-caption" style="color: red">
            {{ loginError }}
          </div>
          <div class="flex-spacer"></div>
          <button
            mat-raised-button
            type="submit"
            color="primary"
            [disabled]="loginForm.invalid"
          >
            Login
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
