<div
  *ngIf="!(authService.authStatus$ | async)?.isAuthenticated"
  fxLayout="row"
  fxLayoutAlign="center"
>
  <mat-card fxFlex.xs="96%" fxFlex.gt-xs="600px">
    <mat-card-content>
      <mat-card-subtitle class="app-header"
        ><h2>Home Page</h2>
      </mat-card-subtitle>
      <img mat-card-image src="../../../assets/home.jpg" alt="" />
      <p class="mat-body-2">Welcome to the MEAN Skeleton home page</p>
    </mat-card-content>
  </mat-card>
</div>

<div
  fxLayout.gt-xs="row"
  fxLayout.xs="column"
  style="margin: 0 1em"
  fxLayoutGap="24px"
  *ngIf="(authService.authStatus$ | async)?.isAuthenticated"
>
  <div fxFlex.sm="57%" fxFlex.gt-sm="70%">
    <h1>Newsfeed</h1>
    <mat-divider></mat-divider>
    <app-new-post></app-new-post>
    <mat-divider></mat-divider>
    <app-post-list></app-post-list>
  </div>
  <app-find-people fxFlex.sm="43%" fxFlex.gt-sm="30%"></app-find-people>
</div>
