<mat-card style="padding-top: 5px">
  <mat-list
    style="
      padding: 0;
      margin-top: -6px;
      margin-left: -16px;
      margin-right: -16px;
    "
  >
    <mat-list-item>
      <img
        style="margin-right: 0.5em"
        mat-list-avatar
        [src]="
          currentUser.photoUrl
            ? currentUser.photoUrl
            : '../../../assets/user.png'
        "
        alt=""
      />

      <span>{{ currentUser.name }}</span>
    </mat-list-item>
  </mat-list>
  <mat-divider></mat-divider>

  <mat-card-content
    style="margin-bottom: 0; margin-top: 1em; padding-bottom: 0"
  >
    <div [formGroup]="postForm" fxLayout="column" fxLayoutGap="10px">
      <mat-form-field style="padding-bottom: 0.5em" fxFlex="100%">
        <textarea
          placeholder="Share your thoughts..."
          formControlName="text"
          matInput
          #text
          cdkTextareaAutosize
          #autosize="cdkTextareaAutosize"
          cdkAutosizeMinRows="1"
        ></textarea>
        <mat-error *ngIf="postForm.get('text')?.hasError('required')">
          Post text is required
        </mat-error>
        <mat-error *ngIf="postForm.get('text')?.hasError('minlength')">
          Text should be at least 3 characters long
        </mat-error>
      </mat-form-field>
      <ngp-image-picker
        *ngIf="upload"
        [_config]="imagePickerConf"
        ($imageChanged)="onImageChange($event)"
      ></ngp-image-picker>
    </div>
  </mat-card-content>
  <mat-card-actions fxLayout="row">
    <button (click)="upload = !upload" mat-icon-button>
      <mat-icon *ngIf="!upload">add_a_photo</mat-icon>
      <mat-icon color="warn" *ngIf="upload">close</mat-icon>
    </button>
    <div class="flex-spacer"></div>
    <button
      [disabled]="postForm.invalid"
      (click)="createPost(text.value)"
      color="primary"
      mat-raised-button
    >
      POST
    </button>
  </mat-card-actions>
</mat-card>
