<mat-card
  *ngFor="let post of posts"
  class="mat-elevation-z1"
  style="padding: 0; margin: 1em 0; border-radius: 0"
>
  <mat-list
    style="background-color: #efefef; padding-top: 2px; border-radius: 0"
  >
    <mat-list-item style="height: 52px">
      <img
        mat-list-avatar
        [src]="
          post.postedBy.photoUrl
            ? post.postedBy.photoUrl
            : '../../../assets/user.png'
        "
        alt=""
      />

      <h5
        [routerLink]="'/users/' + post.postedBy._id"
        style="cursor: pointer"
        mat-line
      >
        {{ post.postedBy.name }}
      </h5>
      <span style="font-size: 12px" mat-line>{{ post.createdAt | date }}</span>

      <div class="flex-spacer"></div>
      <button
        *ngIf="currentUser._id === post.postedBy._id"
        color="accent"
        mat-icon-button
        (click)="this.deletePost(post)"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </mat-list-item>
  </mat-list>
  <mat-divider></mat-divider>
  <mat-card-content style="padding: 16px; margin-bottom: 0">
    <div>{{ post.text }}</div>
  </mat-card-content>
  <img
    style="
      max-height: 320px;
      object-fit: cover;
      padding: 0 16px;
      margin-bottom: -5px;
      max-width: 100%;
    "
    *ngIf="post.photoUrl"
    mat-card-image
    [src]="post.photoUrl"
    alt=""
  />
  <mat-divider></mat-divider>
  <mat-card-actions
    style="padding: 8px 16px; margin: 0; background-color: #efefef"
  >
    <button color="accent" mat-icon-button>
      <mat-icon>favorite_border</mat-icon>
    </button>
    <span>4</span>
    <button (click)="panel.toggle()" color="accent" mat-icon-button>
      <mat-icon>comments</mat-icon>
    </button>
    <span>2</span>
  </mat-card-actions>

  <mat-expansion-panel
    class="mat-elevation-z0"
    style="padding: 0; background-color: #efefef"
    #panel
    hideToggle
  >
    <ng-template matExpansionPanelContent>
      <div
        style="padding: 6px 9px 0"
        fxLayout="row"
        fxLayoutAlign="center center"
        fxLayoutGap="2px"
      >
        <img
          matPrefix
          mat-card-avatar
          style="transform: scale(0.65)"
          [src]="
            currentUser.photoUrl
              ? currentUser.photoUrl
              : '../../../assets/user.png'
          "
          alt=""
        />
        <mat-form-field fxFill>
          <input matInput placeholder="Write something..." />
        </mat-form-field>
      </div>
      <div
        style="padding: 6px 9px 0"
        fxLayout="row"
        fxLayoutAlign="center start"
        fxLayoutGap="2px"
      >
        <img
          matPrefix
          mat-card-avatar
          style="transform: scale(0.65)"
          [src]="
            currentUser.photoUrl
              ? currentUser.photoUrl
              : '../../../assets/user.png'
          "
          alt=""
        />
        <div
          fxFill
          fxLayout="column"
          style="background-color: white; padding: 0.6em"
        >
          <h4 class="comment-header">Jane Anne</h4>
          <div>Thanks a lot, that's so helpful</div>
          <small>Sun Dec 20</small>
        </div>
      </div>
    </ng-template>
  </mat-expansion-panel>
</mat-card>
